# 2.1 Bizzare Behavior

In [28]:
d = 8 #the correct answer should be 8 but it seems it is giving a result of double the value
e = 2
from math import * #This is happening because it is recording e as Euler's number
sqrt(d**e)         # This is also happening because of the math import which makes using this a bad idea

16.88210319127114

# 2.2 Heron's formula

In [12]:
a = 4.503 
b = 2.377  
c = 3.902 
s = (a + b + c)/ 2
sqrt(s * (s - a) * (s - b) * (s - c))

4.63511081571606

In [11]:
a = 17  #2.2 Heron's formula - my own values
b = 32  
c = 37 
s = (a + b + c)/ 2
sqrt(s * (s - a) * (s - b) * (s - c))

271.63946694101725

# 2.3 Surface Area of the Earth

In [63]:
a = 6378137.0
c = 6356752.314245
e = sqrt(1-c**2/a**2) 
S_obl = 2*(pi)*(a**2)*(1 +(1-((e**2)/e)*atanh(e)))    
print(S_obl)
print(f"{S_obl:.8}")
#This is the expected value

509492949765923.4
5.0949295e+14

In [73]:
r = 6371000  
S = 4*(pi)*r**2  # S = to surface area equation to simplify 
print(S) #This is the actual observed value

510064471909788.25

In [79]:
abs((S-S_obl)/S_obl) # with the findings, The Earth is quite reasonably oblate in my opinion

0.001121746913529323